@import b3.vertical.fieldConstructor

@(currentUser: User, microPost: MicroPost, favoritePost: List[FavoritePost])(implicit messages: Messages, flash: Flash, request: RequestHeader)


@if(!favoritePost.exists(_.userId == currentUser.id.get)) {
    @b3.formCSRF(routes.FavoritePostController.favorite(microPost.id.get)) {
        @b3.submit('class -> "btn btn-primary btn-block") {
            @Messages("Favorite")
        }
    }
} else {
    @b3.formCSRF(routes.FavoritePostController.unFavorite(microPost.id.get)) {
        @b3.submit('class -> "btn btn-primary btn-block") {
            @Messages("UnFavorite")
        }
    }
}